                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                         {{str}}
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">{{str}}</li>
                    </ol>
                </section>
				
      
                        </div><!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-12">
                            <!-- general form elements disabled -->
                            <div class="box box-warning"  ng-init="loadVisitorDt()">
                                <div class="box-header">
                                    <h3 class="box-title">General Elements</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <form role="form">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input type="text"  ng-model="formData.id_visitor" class="form-control"/>
                                        </div>
										 <div class="form-group">
                                            <label>Visitor</label>
                                            <input type="text"  ng-model="formData.name" class="form-control" />
                                        </div>
										 <div class="form-group">
                                            <label>Gate Access</label>
                                            <input type="text"  ng-model="formData.gate_access" class="form-control" placeholder="Enter ..."/>
                                        </div>
										 <div class="form-group">
                                            <label>valley Access</label>
                                            <input type="text"  ng-model="formData.valley_access" class="form-control" placeholder="Enter ..."/>
                                        </div>
									
									               
	                                 
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                    </div>   <!-- /.row -->
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
                <!-- Main content -->
               