                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                         {{str}}
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">{{str}}</li>
                    </ol>
                </section>
				
      
						<div class="col-xs-12"   ng-init="loadVisitorDt()">
                            <p class="lead">{title}</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody><tr>
                                        <th style="width:50%">Visitor</th>
                                        <td >{{ formData.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Gate Access</th>
                                        <td>{{ formData.gate_access }}</td>
                                    </tr>
                                    <tr>
                                        <th>Valley Access</th>
                                        <td>{{ formData.valley_access }}</td>
                                    </tr>
									<tr>
                                        <th>Date</th>
                                        <td>{{ formData.date }}</td>
                                    </tr>
									
                                </tbody></table>
                            </div>
                        </div>
                 
               