
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="{{activemenu_classes}}">
	                    <a href="#/class">
	                        <i class="material-icons">Classes</i>
	                        <p>Classes</p>
	                    </a>
	                </li>
	                <li class="{{activemenu_students}}">
	                    <a href="#/student/find">
	                        <i class="material-icons">Students</i>
	                        <p>Students</p>
	                    </a>
	                </li>
	                
	            </ul>
	    	</div>