
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myController">     
      <button type="submit" ng-hide="firts" class="btn btn-danger"   ng-click='changeShow($index)'>Accept</button>   
      <button type="submit" ng-hide="Second" class="btn btn-info" ng-click="save1()">Reject</button>
	  <button type="submit" ng-hide="pen" class="btn btn-info" >Pending</button>
	  <button type="submit" ng-hide="app" class="btn btn-info" >Approved</button>
	  <button type="submit" ng-show='num == $index' class="btn btn-info" >Reject</button>
    </div>
  </body>
  <script>
    var myApp = angular.module('myApp', []);

    myApp.controller('myController', function ($scope) {
    $scope.app =true;
	$scope.rej =true;
      $scope.save = function () {
        $scope.firts =true;
        $scope.Second = false;
		$scope.rej =true;
		$scope.pen =true;
		$scope.app =false;
      };
	  $scope.save1 = function () {
        $scope.firts =false;
        $scope.Second = true;
      };
	  
	  $scope.changeShow = function(index){
    $scope.num = index;
  };
    });
  </script>
</html>