                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {{str}}
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">{{str}}</li>
                    </ol>
                </section>
				
      
                        </div><!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-12">
                            <!-- general form elements disabled -->
                            <div class="box box-warning"  ng-init="loadTenantDt()">
                                <div class="box-header">
                                    <h3 class="box-title">{title}</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <form role="form">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>ID</label>
                                            <input type="text"  ng-model="formData.id_tenant" class="form-control" placeholder="Enter ..."/>
                                        </div>
										 <div class="form-group">
                                            <label>Tenant</label>
                                            <input type="text"  ng-model="formData.name" class="form-control" placeholder="Enter ..."/>
                                        </div>
										 <div class="form-group">
                                            <label>Room No</label>
                                            <input type="text"  ng-model="formData.room_no" class="form-control" placeholder="Enter ..."/>
                                        </div>
										 <div class="form-group">
                                            <label>Emirates ID</label>
                                            <input type="text"  ng-model="formData.emirates_id" class="form-control" placeholder="Enter ..."/>
                                        </div>
										 <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text"  ng-model="formData.phone" class="form-control" placeholder="Enter ..."/>
                                        </div>
										<button  type="button" class="btn btn-primary btn-sm" ng-click="loadVisitors(formData.id_tenant)">Visitors</button>
				                                     
	                                 
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                    </div>   <!-- /.row -->
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
                <!-- Main content -->
               