                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {{str}}
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">{{str}}</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="row"  ng-init="loadAdv()">
					<form ng-submit="processForm()">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Advertisements</h3>
                                    <div class="box-tools">
                                        <div class="input-group">
                                            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Date</th> 
                                            <th>Title</th>
                                            <th>Description</th> 
											<th>Price</th>
											<th></th>
                                        </tr>
                                        <tr ng-repeat="adv in advs" >
                                            <td>{{ adv.date }}</td>
                                            <td>{{ adv.title }}</td>
											<td>{{ adv.description }}</td>
											<td>{{ adv.price }}</td>
											<td><button type="button" class="btn btn-primary btn-sm" ng-click="loadTenantDt(tenant.id_tenant)">Approve</button></td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
					  </form>
                    </div>

                </section><!-- /.content -->